ckanserviceprovider==0.0.7
https://github.com/BioplatformsAustralia/ckan/archive/2.8.3-bioplatforms9.tar.gz

ckanapi==4.1
ckantoolkit

https://github.com/ckan/datapusher/archive/0.0.8.tar.gz
https://github.com/ckan/ckanext-pdfview/archive/0.0.5.tar.gz
https://github.com/ckan/ckanext-geoview/archive/v0.0.12.tar.gz

# local forks so we can tag them (no upstream releases)
https://github.com/BioplatformsAustralia/ckanext-googleanalytics/archive/v2.0.2ccg1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-pages/archive/v0.3.7bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-spatial/archive/0.2.4.tar.gz
https://github.com/BioplatformsAustralia/ckanext-scheming/archive/interim-1.0.4.tar.gz
https://github.com/BioplatformsAustralia/ckanext-hierarchy/archive/0.0.5.tar.gz
https://github.com/BioplatformsAustralia/ckanext-s3filestore/archive/1.0.0-bioplatforms3.tar.gz
https://github.com/BioplatformsAustralia/ckanext-ytp-request/archive/1.0.0-bioplatforms10.tar.gz

# developed by Bioplatforms/CCG/QCIF
https://github.com/BioplatformsAustralia/ckanext-bpatheme/archive/3.3.0.tar.gz
https://github.com/BioplatformsAustralia/ckanext-bpaschema/archive/4.0.1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-bulk/archive/1.3.12.tar.gz
https://github.com/BioplatformsAustralia/ckanext-initiatives/archive/1.1.0.tar.gz

# third party libaries
polib==1.0.7
boto3==1.4.7
botocore==1.7.17
uWSGI==2.0.17.1
uwsgitop
testrepository
flask-babel==0.12.2
pandas==0.24.2
bitmath
# for Python 2 to 3 migration
six

Flask-DebugToolbar==0.10.1
