## usually requirements should go into bioplatforms-requirements.txt in this repo.
# This extra file is for problems arising when ckan-requirements adds an earlier version into library - installing after will uninstall the older version
# without specifying this dateutil may not be updated for pandas
python-dateutil==2.8.1