ckanserviceprovider==0.0.11
https://github.com/BioplatformsAustralia/ckan/archive/2.9.11-bioplatforms3.tar.gz

ckanapi==4.7
ckantoolkit

https://github.com/ckan/datapusher/archive/0.0.18.tar.gz
https://github.com/ckan/ckanext-pdfview/archive/0.0.6.tar.gz
https://github.com/ckan/ckanext-geoview/archive/v0.0.20.tar.gz

# Dependency for ckanext-spatial
https://github.com/ckan/ckanext-harvest/archive/v1.4.0.tar.gz

# local forks so we can tag them (no upstream releases)
https://github.com/BioplatformsAustralia/ckanext-googleanalytics/archive/v2.1.1bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-pages/archive/v0.3.7bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-spatial/archive/v2.0.0bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-scheming/archive/release-2.1.0bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-hierarchy/archive/1.2.0bioplatforms1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-s3filestore/archive/1.0.0+bioplatforms15.tar.gz
https://github.com/BioplatformsAustralia/ckanext-ytp-request/archive/1.0.0+bioplatforms22.tar.gz
https://github.com/BioplatformsAustralia/ckanext-shopping-cart/archive/0.0.4+bioplatforms3.tar.gz

# developed by Bioplatforms/CCG/QCIF
https://github.com/BioplatformsAustralia/ckanext-bpatheme/archive/3.6.0.tar.gz
https://github.com/BioplatformsAustralia/ckanext-bpaschema/archive/4.4.9.tar.gz
https://github.com/BioplatformsAustralia/ckanext-bulk/archive/1.7.5.tar.gz
https://github.com/BioplatformsAustralia/ckanext-initiatives/archive/1.4.4.tar.gz
https://github.com/BioplatformsAustralia/ckanext-laissezpasser/archive/1.0.3.tar.gz
https://github.com/BioplatformsAustralia/ckanext-aup/archive/1.0.2.tar.gz

# developed by tino097, now maintained by Bioplatforms
https://github.com/BioplatformsAustralia/ckanext-drs/archive/1.1.7.tar.gz

# third party libaries
polib==1.1.1
boto3==1.24.20
botocore==1.27.20
uWSGI==2.0.22
uwsgitop
testrepository
flask-babel==2.0.0
pandas==1.4.3
#numpy V2 has breaking changes, especially in ckanext-spatial
numpy<2
bitmath
# for Python 2 to 3 migration
six
# for CKAN 2.9.9 beaker changes
cryptography

Flask-DebugToolbar==0.13.1
