ckanserviceprovider==0.0.5
# the pypy tarball is missing some files, use git instead
https://github.com/muccg/ckan/archive/ckan-2.6.1ccg3.tar.gz
ckanapi==3.5
ckantoolkit==0.0.2

# plugins that have github tags are used directly from source
# plugins that do not bother to have releases are forked to muccg and tagged
# It may be prudent to fork all dependent plugins to muccg
https://github.com/ckan/datapusher/archive/0.0.8.tar.gz
https://github.com/ckan/ckanext-pdfview/archive/0.0.5.tar.gz
https://github.com/ckan/ckanext-geoview/archive/v0.0.12.tar.gz

# local forks so we can tag them (no upstream releases)
https://github.com/muccg/ckanext-pages/archive/0.0.7.tar.gz
https://github.com/muccg/ckanext-spatial/archive/0.2.2.tar.gz
https://github.com/muccg/ckanext-scheming/archive/interim-1.0.2.tar.gz
https://github.com/muccg/ckan-galleries/archive/0.0.2.tar.gz
https://github.com/muccg/ckanext-hierarchy/archive/0.0.4.tar.gz
https://github.com/muccg/ckanext-bpatheme/archive/0.32.0.tar.gz
https://github.com/muccg/ckanext-s3filestore/archive/v0.0.4ccg12.tar.gz

# third party libaries
polib==1.0.7
boto3==1.4.0
botocore==1.4.42
uWSGI==2.0.13
uwsgitop
testrepository
