ckanserviceprovider==0.0.7
# the pypy tarball is missing some files, use git instead
https://github.com/BioplatformsAustralia/ckan/archive/ckan-2.8.2-ccg-13.tar.gz
#https://github.com/ckan/ckan/archive/ckan-2.8.2.tar.gz

# think about upgrading ckanapi to 4.1
ckanapi==3.5
ckantoolkit

# plugins that have github tags are used directly from source
# plugins that do not bother to have releases are forked to BioplatformsAustralia and tagged
# It may be prudent to fork all dependent plugins to BioplatformsAustralia
https://github.com/ckan/datapusher/archive/0.0.8.tar.gz
https://github.com/ckan/ckanext-pdfview/archive/0.0.5.tar.gz
https://github.com/ckan/ckanext-geoview/archive/v0.0.12.tar.gz


# local forks so we can tag them (no upstream releases)
https://github.com/BioplatformsAustralia/ckanext-googleanalytics/archive/v2.0.2ccg1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-pages/archive/0.0.8.tar.gz
https://github.com/BioplatformsAustralia/ckanext-spatial/archive/0.2.4.tar.gz

https://github.com/BioplatformsAustralia/ckanext-scheming/archive/interim-1.0.3.tar.gz

https://github.com/BioplatformsAustralia/ckan-galleries/archive/0.0.2.tar.gz

https://github.com/BioplatformsAustralia/ckanext-hierarchy/archive/0.0.5.tar.gz
#https://github.com/datagovuk/ckanext-hierarchy/archive/master.tar.gz

#fix s3filestorage for ckan 2.8.2
#https://github.com/BioplatformsAustralia/ckanext-s3filestore/archive/v0.0.4ccg14.tar.gz
#https://github.com/BioplatformsAustralia/ckanext-s3filestore/archive/pastefileapp-to-s3fileapp.tar.gz
#https://github.com/okfn/ckanext-s3filestore/archive/v0.1.1.tar.gz
https://github.com/BioplatformsAustralia/ckanext-s3filestore/archive/stream-upload.tar.gz


#upgrading theme
https://github.com/BioplatformsAustralia/ckanext-datawagovautheme/archive/v0.1.2ccg3.tar.gz 

#ccg ckan-extension
https://github.com/BioplatformsAustralia/ckanext-bulk/archive/1.2.8.tar.gz

# third party libaries
polib==1.0.7
boto3
#boto3==1.4.7
#boto3>=1.4.4
#botocore==1.7.17
botocore
uWSGI==2.0.17.1
uwsgitop
testrepository
